librosa==0.9.2
matplotlib==3.7.0
matplotlib==3.6.1
noisereduce==2.0.1
numpy==1.23.5
numpy==1.24.3
numpy==1.22.4+vanilla
openai_whisper==20230314
pandas==1.5.3
plotly==5.9.0
PyAudio==0.2.13
SpeechRecognition==3.10.0
streamlit==1.22.0
torch==1.12.1
torch==2.0.0
transformers==4.24.0
